<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :login_name %>（必須）
    <%= form.text_field :login_name, placeholder: "octocat" %>
  </div>

  <div class="field">
    <%= form.label :twitter_name %>（任意）
    @<%= form.text_field :twitter_name, placeholder: "monatheoctocat" %>
  </div>

  <div class="actions">
    <%= form.submit "作成する" %>
  </div>
<% end %>
