<%= form_with(model: user, local: true, id: "meishi-form") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>（必須）
    <%= form.text_field :name, placeholder: "The Octocat" %>
  </div>

  <div class="field">
    <%= form.label :login %>（必須）
    <%= form.text_field :login, placeholder: "octocat" %>
  </div>

  <div class="field">
    <%= form.label :twitter_account %>（必須）
    <%= form.text_field :twitter_account, placeholder: "@monatheoctocat" %>
  </div>

  <div class="actions">
    <%= form.submit "作成する", data: { disable_with: "名刺作成中…" } %>
  </div>

  <div id="loading"></div>
  <div id="text"></div>
<% end %>
