<p id="notice"><%= notice %></p>

<%= link_to user_path(@user, format: "pdf"), class: "btn btn-primary my-4 d-block w-50" do %>
  名刺を表示する
<% end %>

<%= link_to "#", class: "btn btn-success d-block mb-3 w-50" do %>
  ラクスルに入稿する（サンプル）
<% end %>
<p>
  作成したPDFファイルはラクスルにそのまま入稿できます。
</p>
<hr>
<%= link_to '編集する', edit_user_path(@user) %> |
<%= link_to '戻る', root_path %>
