<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<hr>

<%= link_to "名刺（PDF）を表示する", user_path(@user, format: "pdf") %>
