<!DOCTYPE html>
<html>
  <head>
    <title>GithubMeishiGenerator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container my-4">
      <div class="mx-auto" style="width: 680px">
        <h1 class="mb-5">IT勉強会用 名刺ジェネレーター</h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
