<!DOCTYPE html>
<html>
  <head>
    <title><%= title "IT勉強会用 名刺ジェネレーター" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "favicon" %>
    <%= analytics_init if Rails.env.production? %>
  </head>
  <body>
    <div class="container">
      <div class="mx-auto" style="width: 680px">
        <%= render "layouts/header" %>
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
