<!DOCTYPE html>
<html>
  <head>
    <title>IT勉強会用 名刺ジェネレーター</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "favicon" %>
  </head>

  <body>
    <div class="container">
      <div class="mx-auto" style="width: 680px">
        <%= render "layouts/navbar" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
